@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Gothic&display=swap');

@font-face {
    font-family: 'Pretendard';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0px;
    font-family: 'Pretendard';
}

#sign-in-wrapper {
    display: flex;

    width: 100%;
    min-width: 1440px;
    height: 100vh;
    min-height: 964px;
}

.sign-in-image {
    width: 830px;
    background-image: url(./images/main-image.png);
    background-image: cover;
}

.sign-in-container {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    width: 380px;
}

.title-box {
    display: flex;
    align-items: center;
    gap: 2px;
}

.title-box .title {
    font-size: 30px;
    font-weight: 700;
    line-height: 173%;
    color: var(--dark-gray-color);
}

.title-box .logo {
    width: 30px;
    height: 30px;

    background-image: url(./images/logo.png);
    background-image: 100% 100%;
}

.input-container {
    align-self: stretch;

    display: flex;
    flex-direction: column;
    gap: 14px;
}

.button-container {
    align-self: stretch;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.divider {
    width: 100%;
    border-bottom: 1px solid rgba(238, 238, 238, 1);
}
